Beach-Escape/Library/* linguist-vendored
Beach-Escape/Logs/* linguist-vendored
Beach-Escape/ProjectSettings/* linguist-vendored
Beach-Escape/Temp/* linguist-vendored
Beach-Escape/Packages/* linguist-vendored
Beach-Escape/obj/* linguist-vendored